*{
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
list-style: none;
}

html, body{
    scroll-behavior: smooth;
}



header{
    background-color: #333;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

header nav a{
    color: white;
    padding: 86x;
    transition: background-color 1s;
}

header nav a:hover{
    background-color: lightblue;
    color: black;
    padding: 8px;
}

.grupo{
    height: 100vh;
}

#vermelho{
    background-color: #FF0000;
}
#verde{
    background-color: #699F2A;
}
#azul{
    background-color: #54A0FF;
}
#branco{
    background-color: #FFFFFF;
}
#roxo{
    background-color: #6206BF;
}

.yorichi{
    height: 100vh ;
    margin-top: 5vh;
}

.zoro{
    height: 85vh;
    margin-top: 5vh;
    align-items: center;
    float: right;
}
.tomioka{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80vh;
    margin: auto;
}
.yuta{
height: 100vh;
}
.kokushibo{
    float: right;
    height: 100vh;
}
.titulo1{
    text-align: center;
    position: relative;
    top: -900px;
    margin-left: 100px;
    color: white;
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.texto1{
    color: white;
    position: relative;
    top: -900px;
    text-align: left;
    width: 80vh;
    margin-left: 800px;
    font-size: 40px
}

.titulo2{
    position: relative;
    top: 30px;
    color: white;
    margin-left: 199px;
    font-size: 40px;
}
.texto2{
    color: white;
    position: relative;
    top: 50px;
    text-align: left;
    width: 80vh;
    margin-left: 80px;
    font-size: 40px;
}

.titulo3{
    color: white;
    position: relative;
 top: -800px;
 margin-left: 180px;
 font-size: 45px;
}

.texto3{
    color: white;
    position: relative;
    top: -800px;
    width: 70vh;
    margin-left: 90px;
    margin-top: -25px;
  font-size: 40px;
}

.titulo4{
    float: right;
    color: black;
    margin-right: 400px;
    font-size: 47px;
    position: relative;
    top: -999px;


}
.texto4{
    color: black;
    position: relative;
    top: -900px;
    text-align: left;
    width: 80vh;
    margin-left: 995px;
    font-size: 37px

}
.titulo5{
    float: right;
    color: white;
    margin-right: 400px;
    font-size: 47px;
    position: relative;
    top: -999px;
}
.texto5{
    color: white;
    position: relative;
    top: -900px;
    text-align: left;
    width: 95vh;
    margin-left: 900px;
    font-size: 40px
}